version: "3.9"

services:

  api:
    build: .
    container_name: task_api
    ports:
      - "5001:5001"
    env_file:
      - .env
    depends_on:
      - redis
      - mongo
    restart: always

  redis:
    image: redis:7-alpine
    container_name: task_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mongo:
    image: mongo:7
    container_name: task_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
  redis_data: